/* @keyframes move-btn {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
} */

.main-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.btn-container {
    position: relative;
    width: 300px;
    height: 70px
}

.back-panel {
    background-color: gray;
    height: 99%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: left 1.6s, width 1.6s;
}

.back-panel-hover {
    background-color: gray;
    height: 99%;
    width: 20%;
    position: absolute;
    top: 0px;
    left: 40%;
    transition: left 1.6s, width 1.6s;
}

.back-panel-click {
    background-color: black;
}

.front-panel {
    background-color: white;   
    height: 95%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.front-panel-hover {
    background-color: white;   
    height: 95%;
    width: 50%;
    position: absolute;
    top: 0px;
    left: 25%;
    transition: left 1.6s, width 1.6s;
}

.front-panel-click {
    background-color: gray;   
}

.move-txt {
    color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    bottom: 0px;
    text-align: center;
    font-size: large;
    transition: height 1.6s, font-size 1.6s;
}

.move-txt-hover {
    color: black;
    position: absolute;
    width: 100%;
    height: 90%;
    left: 0px;
    bottom: 0px;
    text-align: center;
    font-size: x-large;
    transition: height 1.6s, font-size 1.6s;
}

.move-txt-click {
    color: white;
}


/* .move-btn {
    position: relative;
    text-align: center;
    border-bottom: 1px solid black;
    background-color: black;
    width: 100px;
    height: 35px;
    transition: width 2s;
    animation-name: move-btn;
    animation-duration: 4s;
}

.move-btn:hover {
    width: 200px;
}

.test {
    background-color: red;
    position: inherit;
    width: 100%;
    height: 99%;
    left: 0px;
    bottom: 0px;
} */

